%footer.green-bg.pt-3
  .row
    .column.text-center
      = image_tag 'logos/picanna_logo_stacked.png', class: 'width-25'
    .column
      %ul.links
        %li.m-2
          = link_to 'https://www.facebook.com/pincanna', target: '_blank' do
            %i.fab.fa-facebook
        %li.m-2
          = link_to 'https://www.instagram.com/pincanna/', target: '_blank' do
            %i.fab.fa-instagram
        %li.m-2
          = link_to 'https://www.youtube.com/channel/UCLDAjecT8ltZUfFKileEdVg', target: '_blank' do
            %i.fab.fa-youtube
        %li.m-2
          = link_to 'https://twitter.com/pincanna1', target: '_blank' do
            %i.fab.fa-twitter

      .column
        %ul.links
          %li.m-2
            = link_to 'Privacy Policy', 'https://www.facebook.com/pincanna', class: 'apex-bold fz-14'
          %li.m-2
            = link_to 'Terms And Conditions', 'https://www.instagram.com/pincanna/', class: 'apex-bold fz-14'

      .column.text-center.mt-2
        %p.paragraph.fz-12.white ©2020 Compassionate Advisors-Holding, LLC. All rights reserved.
